<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- font family -->
     <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css" />
     <!-- bootstrap css  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- main css  -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <nav>
        <ul class="list-unstyled d-flex justify-content-evenly ">
            <li><a href="/" class="text-black nav-link my-3">Student Details</a></li>
            <li><a href="/form" class="text-black nav-link my-3">Add Student form</a></li>
        </ul>
    </nav>
    <form method="post" action="/insertStudent" class="border border-2 border-black p-4 rounded-2">
        <h1 class="fs-2">Add new Student</h1>
        <label class="w-100 mt-3 mb-2">Enter Name:-</label>
        <input class="form-control py-1 px-3 bg-transparent border-2 border-secondary" type="text" name="name">

        <label class="w-100 mt-3 mb-2">Enter Email:-</label>
        <input class="form-control py-1 px-3 bg-transparent border-2 border-secondary" type="text" name="email">

        <label class="w-100 mt-3 mb-2">Enter Password:-</label>
        <input class="form-control py-1 px-3 bg-transparent border-2 border-secondary" type="password" name="password">

        <label class="w-100 mt-3 mb-2">Choose Gender:-</label>
        <div class="radioField">
            <input type="radio" name="gender" value="Male"/><span class="ps-2 pe-4">Male</span>
            <input type="radio" name="gender" value="Female"/><span class="ps-2 pe-4">Female</span>
            <input type="radio" name="gender" value="Other"/><span class="ps-2 pe-4">Other</span>
        </div>

    
        <label class="w-100 mt-3 mb-2">Choose hobby:-</label>
        <% let hobbyNames=["Reading","Walking","Dancing","Playing","Riding","Traveling"] %>
        <div class="checkboxField">
            <% hobbyNames.map((item)=>{ %>
                <div class="d-flex">
                    <input type="checkbox" name="hobby" value="<%= item %>"><span class="ps-2 pe-4"><%= item %></span>
                </div>
            <% }) %>
        </div>

        <label class="mt-3 mb-2">Select City:-</label>
        <% let cityNmaes = ["Surat","Rajkot","Amreli","Vapi"] %>
        <select name="city" class="bg-transparent py-1 px-2 ms-2 border-2 border-secondary">
            <option value="">--select--</option>
            <% cityNmaes.map((item)=>{ %>
                <option value="<%= item %>"><%= item %></option>
            <% }) %>
        </select>

        <label class="w-100 mt-3 mb-2" style="margin-top: 10px;">About:-</label>
        <textarea name="about" class="form-control bg-transparent border-2 border-secondary"></textarea>

        <div style="text-align: center;">
            <button type="submit" class="py-2 px-4 bg-black text-white border-0 mt-4">Add</button>
        </div>
    </form>

    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>